.type-15 .product .item {
  list-style: none;
}
.type-15 .product .item a {
  position: relative;
  text-decoration: none;
  color: #000;
}
.type-15 .product .item a::before {
  content: '';
  position: absolute;
  border-bottom: 2px solid #2321ae;
  bottom: 0;
  width: 0;
  transition: all .2s;
}
.type-15 .product .item:hover a::before {
  width: 100%;
}
.type-15 .categories {
  margin-left: 30px;
}
.type-15 .layered {
  margin-left: 30px;
}
.type-15 .price {
  margin-left: 30px;
}
.type-15 .thin {
  padding-top: 40px;
  border: 1px solid #000;
  padding-bottom: 38px;
}
.type-15 .product-team .nav-team {
  list-style: none;
}
.type-15 .product-team .nav-team a {
  position: relative;
  text-decoration: none;
  color: #000;
}
.type-15 .product-team .nav-team a::before {
  content: '';
  position: absolute;
  border-bottom: 2px solid #2321ae;
  bottom: 0;
  width: 0;
  transition: all .2s;
}
.type-15 .product-team .nav-team:hover a::before {
  width: 100%;
}
.type-15 .button {
  width: 73px;
  border-radius: 15px;
  background: #6c6bdf;
}
.type-15 .label {
  color: #000;
}
.type-15 .hh {
  width: 77%;
}
