
//muon thu nho menu thi class logo_container cho height 0,margin-bottom -46px 

.type-module1{
    margin-left: 100px;
    margin-right: 100px;
    .title1{
        padding-top: 20px;
        padding-bottom:20px;
        .mkd-position-right-inner{
            float: right;
            a{
                font-size: 10px;
                color: #000;
                text-decoration: none;
                padding: 10px;
            }
            .aaa1 a::before{
                content: "\f041";
                font-family: 'FontAwesome';
                font-size: 14px;
                padding-right: 5px;;
            }
            .aaa2 a::before{
                content: "\f14e";
                font-family: 'FontAwesome';
                font-size: 14px;
                padding-right: 5px;
            }
            .aaa3 a::before{
                content: "\f0f0";
                font-family: 'FontAwesome';
                font-size: 14px;
                padding-right: 5px;
            } .aaa3 a::after{
                color: blue !important;
                content: "\f11e";
                font-family: 'FontAwesome';
                font-size: 14px;
                padding-left: 5px;
            }

            a:hover{
                color:blue;
            }
        }
        .mkd-position-left-inner{
            float: left;
            a{
                font-size: 10px;
                color: #000;
                text-decoration: none;
                padding-right: 10px;
            }
            a:hover{
                color:blue;
            }
        }
    }
    .logo{
        .logo-shop{
            display: block;
          margin-top: 20px;
        }
        border-top: 1px solid gray;
        padding-top: 20px;
        display: -webkit-box;
        .form-seach{
            position: relative;
            margin-left: 110px;
            input{
                padding: 13px 72px 13px 350px;  
                margin-top: 13px;

            }
            #flip{
                z-index: 1;
                position: absolute;
                background:#e5e7f2;
               padding: 12px 35px 12px 35px;
               margin-top: 15px;
            }
            #panel{
                display: none;
                position: absolute;
                width: 165px;
                margin-top: 65px;
                padding: 10px 35px 10px 54px;
                text-align: center;
                background:#e5e7f2;
                border: solid 1px #c3c3c3;
            }
           .search-sp{
            width: 50px;
            height: 45px;
            .search-submit{
                background: blue;
                margin-left: -5px;
                padding: 3px 20px 10px 26px;
               
            }
            .search-submit a::before{
                content: "\f002";
                font-family: 'FontAwesome';
                font-size: 24px;
                padding-right: 5px;
                color: #fff;

                
            }
           }
           .wiget{
             
               display: inline-block;
               .bbb1 a::before{
                color: #000;
                content: "\f066";
                font-family: 'FontAwesome';
                font-size: 24px;
                padding-left: 10px;
               

               }
               .bbb2 a::before{
                content: "\f004";
                font-family: 'FontAwesome';
                font-size: 24px;
                padding-left: 10px;
                color: #000;
                   

               }
               .bbb3 a::before{
                content: "\f07a";
                font-family: 'FontAwesome';
                font-size: 24px;
                padding-left: 10px;
                color:#000;
                   

               }
           }
           
        }
    }
    
    
}
@media only screen and (max-width: 1024px){
    .type-module1 .title1 .mkd-position-left-inner a{
        display: none;
    }
    .type-module1 .logo .form-seach #panel{
        font-size: 8px;
    }
    .title1{
        display: none;
        
    }
    .form-seach{
        display: none;
    }
  }