.type-3 .container .row .col-md-2 {
  padding-left: 60px;
}
.type-3 .container .row .col-md-2 .information {
  text-align: center;
}
.type-3 .container .row .col-md-2 .information .img1 {
  text-align: center;
}
.type-3 .container .row .col-md-2 .information .img1 #author-icon {
  border-radius: 50%;
}
.type-3 .container .row .col-md-2 .information a {
  font-size: 12px;
  color: #adaeb0;
  text-decoration: none;
}
.type-3 .container .row .col-md-2 .information span {
  font-size: 12px;
  color: #adaeb0;
}
.type-3 .container .row .col-md-2 .information a:hover {
  color: #5677fc;
}
.type-3 .container .row .col-md-2 .information .border {
  width: 100%;
  padding-top: 10px;
  border-bottom: #adaeb0 solid 1px;
}
.type-3 .container .row .col-md-7 .mory-magin .mort .data {
  position: absolute;
  margin-top: 10px;
  left: 10px;
  width: 70px;
  left: 25px;
  z-index: 100;
  background: #fff;
  text-align: center;
}
.type-3 .container .row .col-md-7 .mory-magin .mort .data a {
  text-decoration: none;
}
.type-3 .container .row .col-md-7 .mory-magin .mort .date-day1 {
  font-size: 23px;
  font-weight: 500;
  color: #ff4b4b;
  margin-top: 10px;
}
.type-3 .container .row .col-md-7 .mory-magin .mort .date-month1 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.type-3 .container .row .col-md-7 .mory-magin .mort .date-month1:hover {
  color: #5677fc;
}
.type-3 .container .row .col-md-7 .mory-magin .post-mast a {
  text-decoration: none;
}
.type-3 .container .row .col-md-7 .mory-magin .post-mast h2 a {
  text-decoration: none;
}
.type-3 .container .row .col-md-7 .mory-magin .post-mast span i a {
  text-decoration: none;
}
.type-3 .container .row .col-md-3 .sidebar-image {
  background-image: url(/modul/100/images/pages-sidebar-banner.jpg);
  padding: 7% 14% 89%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.type-3 .container .row .col-md-3 .sidebar-image a {
  text-decoration: none;
}
.type-3 .container .row .col-md-3 .tag-blog .tag2 a {
  text-decoration: none;
}
.type-3 .container .row .col-md-3 .size {
  margin: 10px 0;
  color: #000;
  line-height: 1.3em;
  font-size: 22px;
}
.type-3 .container .row .col-md-3 #backgourd {
  width: 100%;
  display: none;
}
.type-3 .img1 {
  max-width: 100%;
}
.type-3 #hinh2 {
  max-width: 100%;
}
.type-3 .fa-comment-alt-lines:before {
  content: "\f4a6";
}
.type-3 a {
  font-size: 18px;
  color: #000;
}
.type-3 .information {
  float: left;
}
@media only screen and (max-width: 1192px) {
  .information {
    visibility: hidden;
    position: absolute;
  }
}
@media only screen and (max-width: 767px) {
  .information {
    visibility: hidden;
    position: absolute;
  }
}
