.type-24 {
  background: #fff;
  font-family: Montserrat, sans-serif;
}
.type-24 body {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #212121;
}
.type-24 .ngoai h5 {
  font-size: 14px;
  line-height: 2em;
  color: #787878;
}
.type-24 .gach {
  height: 1.5px;
  display: block;
  width: 68%;
  background-color: #5677fc;
  margin-top: -22px;
}
.type-24 .styles-table {
  margin: 5px 0;
  border: 1px solid #ccc;
  padding: 10px 0px 10px 40px;
}
.type-24 .styles-table .thu {
  width: 90%;
}
.type-24 .styles-table img {
  height: 70px;
  width: 70px;
  margin-left: -20px;
}
.type-24 .styles-table .text1 {
  display: block;
  font-size: 20px;
}
.type-24 .styles-table .text2 {
  font-size: 30px;
  display: inline-block;
  color: #5677fc;
  text-decoration: none;
}
.type-24 .styles-table .text2::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #5677fc;
  transition: width .1s;
}
.type-24 .styles-table .text2:hover::after {
  width: 100%;
}
.type-24 .styles-table .text0 {
  font-size: 20px;
}
@media only screen and (max-width: 991px) {
  .type-24 .styles-table {
    text-align: center;
  }
  .type-24 .cuoi1 {
    text-align: center;
  }
  .type-24 .gift .end2 {
    margin-left: -47px;
    text-align: center;
  }
  .type-24 .end1 {
    margin-left: -10px;
    text-align: center;
  }
  .type-24 .cuoi2 {
    text-align: center;
  }
}
@media only screen and (max-width: 1199px) {
  .type-24 .styles-table .text2 {
    margin-left: -15px;
  }
  .type-24 .styles-table .class2 .thu {
    width: 80%;
  }
  .type-24 .styles-table .hinh1 {
    margin-left: -43px;
  }
  .type-24 .styles-table .hinh2 {
    margin-left: -35px;
  }
  .type-24 .styles-table .hinh3 {
    margin-left: -30px;
  }
  .type-24 .styles-table .thu {
    margin-left: 25px;
  }
  .type-24 .ngoai .sidebar-nav {
    width: 100%;
  }
}
.type-24 .gift {
  margin: 5px 0;
  border: 1px solid #ccc;
  padding: 10px 0px 10px 40px;
}
.type-24 .gift .end1 {
  display: block;
  font-size: 20px;
}
.type-24 .gift .end2 {
  width: 100px;
  font-size: 30px;
  color: #5677fc;
  text-decoration: none;
}
.type-24 .gift .end2::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #5677fc;
  transition: width .1s;
}
.type-24 .gift .end2:hover::after {
  width: 49%;
  margin-left: 80px;
}
.type-24 .gift img {
  height: 70px;
  width: 70px;
  margin-left: -20px;
}
.type-24 .dropdown-menu {
  display: none;
}
.type-24 .sidebar-nav .dropdown .dropdown-menu li a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}
.type-24 .sidebar-nav .dropdown .dropdown-menu li a:hover {
  color: #5677fc;
  transition-duration: 0.5s;
}
.type-24 .sidebar-nav .dropdown .dropdown-menu li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #5677fc;
  transition: width .3s;
}
.type-24 .sidebar-nav .dropdown .dropdown-menu li a:hover::after {
  width: 100%;
}
@media (max-width: ) {
  .type-24 .sidebar-stacked.open + .wrapper .constructor {
    margin-left: ;
  }
}
.type-24 .sidebar {
  overflow-y: auto;
  overflow-x: hidden;
}
.type-24 .sidebar::-webkit-scrollbar-track {
  border-radius: 2px;
}
.type-24 .sidebar::-webkit-scrollbar {
  width: 5px;
  background-color: #F7F7F7;
}
.type-24 .sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #BFBFBF;
}
.type-24 .sidebar .sidebar-nav {
  margin: 0;
  padding: 0;
}
.type-24 .sidebar .sidebar-nav li {
  position: relative;
  list-style-type: none;
}
.type-24 .sidebar .sidebar-nav li a {
  position: relative;
  cursor: pointer;
  user-select: none;
  color: #000;
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0;
  text-decoration: none;
  clear: both;
}
.type-24 .sidebar .sidebar-nav li a:hover {
  background: transparent;
}
.type-24 .sidebar .sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}
