.type-18 {
  font-family: Montserrat, sans-serif;
}
.type-18 .container {
  padding: 30px;
}
.type-18 .container .col-md-2 {
  padding-left: 60px;
}
.type-18 .container .col-md-2 .information {
  text-align: center;
}
.type-18 .container .col-md-2 .information .img1 {
  text-align: center;
}
.type-18 .container .col-md-2 .information .img1 #author-icon {
  border-radius: 50%;
}
.type-18 .container .col-md-2 .information a {
  font-size: 12px;
  color: #adaeb0;
  text-decoration: none;
}
.type-18 .container .col-md-2 .information span {
  font-size: 12px;
  color: #adaeb0;
}
.type-18 .container .col-md-2 .information a:hover {
  color: #5677fc;
}
.type-18 .container .col-md-2 .information .border {
  width: 100%;
  padding-top: 10px;
  border-bottom: #adaeb0 solid 1px;
}
.type-18 .container .col-md-7 {
  float: left;
  font-family: Montserrat, sans-serif;
}
.type-18 .container .col-md-7 .post-mast h2 {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 20px;
}
.type-18 .container .col-md-7 .post-mast h2 a {
  color: black;
  text-decoration: none;
}
.type-18 .container .col-md-7 .post-mast a:hover {
  color: #5677fc;
}
.type-18 .container .col-md-7 .post-mast p {
  color: #adaeb0;
}
.type-18 .container .col-md-7 .post-mast .fa {
  padding-top: 5px;
  color: #adaeb0;
}
.type-18 .container .col-md-7 .post-mast .fa:hover {
  color: #5677fc;
}
.type-18 .container .col-md-7 .post-mast .getdate i>a {
  text-decoration: none;
  color: #adaeb0;
  font-size: 15px;
}
.type-18 .container .col-md-7 .post-mast .getdate i>a:hover {
  color: #5677fc;
}
.type-18 .container .col-md-7 .post-mast .month {
  text-decoration: none;
}
.type-18 .container .col-md-7 .post-mast .year {
  text-decoration: none;
}
.type-18 .img1 {
  max-width: 100%;
}
.type-18 .menu-button {
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  padding-left: 10px;
}
.type-18 .menu-button a {
  opacity: 0;
  width: 0px;
  height: 0px;
  text-align: center;
  line-height: 50px;
  font-size: 10px;
  border-radius: 50%;
  background: red;
}
.type-18 .menu-button a:nth-child(2) {
  position: absolute;
  right: 25px;
  bottom: 30px;
  background: blue;
}
.type-18 .menu-button a:nth-child(3) {
  position: absolute;
  right: 25px;
  bottom: 30px;
  background: red;
}
.type-18 .menu-button a:nth-child(4) {
  position: absolute;
  right: 25px;
  bottom: 30px;
  background: blue;
}
.type-18 .menu-button:hover a {
  opacity: 1;
  width: 50px;
  height: 50px;
}
.type-18 .menu-button:hover a:nth-child(2) {
  right: 0px;
  bottom: -150px;
}
.type-18 .menu-button:hover a:nth-child(3) {
  right: 0px;
  bottom: -100px;
}
.type-18 .menu-button:hover a:nth-child(4) {
  right: 0px;
  bottom: -50px;
}
.type-18 #hinh2 {
  max-width: 100%;
}
.type-18 a {
  font-size: 18px;
  color: #000;
}
.type-18 .information {
  float: left;
}
@media only screen and (max-width: 991px) {
  .type-18 .information {
    visibility: hidden;
    position: absolute;
  }
}
@media only screen and (max-width: 767px) {
  .type-18 .information {
    visibility: hidden;
    position: absolute;
  }
}
