.module-12 .mkd-content-inner {
  margin-top: 20px;
  position: relative;
}
.module-12 .mkd-content-inner .page-title {
  color: cornsilk;
  display: block;
  text-align: center;
  margin-top: -130px;
}
.module-12 .mkd-content-inner .page-title .url-info a {
  text-decoration: none;
  color: cornsilk;
}
